<Overlay
  @className={{overlayClassName}}
  @hasBackdrop={{true}}
  @isOpen={{isOpen}}
  @autoFocus={{autoFocus}}
  @backdropClassName={{backdropClassName}}
  @backdropProps={{backdropProps}}
  @canEscapeKeyClose={{canEscapeKeyClose}}
  @canOutsideClickClose={{canOutsideClickClose}}
  @enforceFocus={{enforceFocus}}
  @lazy={{lazy}}
  @onClose={{action "onIconClick"}}
  @portalClassName={{setPortalClassName}}
  @transitionName={{transitionName}}
  @usePortal={{usePortal}}
  @containerClassName={{containerClassName}}
>
  <div class={{dialogClassNames}} style={{dialogStyle}}>
    {{#if title}}
      <div class={{DIALOG_HEADER}}>
        <Icon @icon={{icon}} @iconSize={{20}} />
        <h4 class={{HEADING}}>
          {{{title}}}
        </h4>
        {{#if isCloseButtonShown}}
          <Button
            @ariaLabel="close"
            @class={{DIALOG_CLOSE_BUTTON}}
            @icon="small-cross"
            @iconSize={{20}}
            @minimal={{true}}
            @onClick={{action "onIconClick"}}
            @type="button"
           />

        {{/if}}
      </div>
    {{/if}}
    {{yield}}
  </div>
</Overlay>