{{yield}}
{{#if (and defaultIsOpen (not disabled))}}
  <EmberPopperTargetingParent @class={{popOverClass}} @placement={{placement}}>
    <div>
      {{toolTipContent}}
    </div>
    <div class="popper-arrow {{intent}}" x-arrow></div>
  </EmberPopperTargetingParent>
{{/if}}