<input
  type="radio"
  onchange={{action "onChangeRadio"}}
  checked={{if (eq selectedValue value) true checked}}
  id={{radioId}}
  disabled={{disabled}}
  name={{name}}
  value={{value}}
  key={{value}}
 />

<span class={{CONTROL_INDICATOR}}></span>
{{label}}
{{{labelElement}}}
{{yield}}