<Dialog
  @className={{className}}
  @canEscapeKeyClose={{canEscapeKeyCancel}}
  @canOutsideClickClose={{canOutsideClickCancel}}
  @onClose={{action "handleCancel"}}
  @destinationElement={{destinationElement}}
  @autoFocus={{autoFocus}}
  @backdropClassName={{backdropClassName}}
  @backdropProps={{backdropProps}}
  @enforceFocus={{enforceFocus}}
  @isOpen={{isOpen}}
  @portalClassName={{portalClassName}}
  @style={{style}}
  @title={{title}}
  @transitionName={{transitionName}}
  @usePortal={{usePortal}}
  @dialogClassName={{dialogClassNames}}
>
  <div class={{ALERT_BODY}}>
    {{#if icon}}
      <Icon @icon={{icon}} @iconSize={{40}} @intent={{intent}} />
    {{/if}}
    <div class={{ALERT_CONTENTS}}>
      {{yield}}
    </div>
  </div>
  <div class={{ALERT_FOOTER}}>
    <Button
      @intent={{intent}}
      @onClick={{action "handleConfirm"}}
      @type="button"
    >
      {{{confirmButtonText}}}
    </Button>
    {{#if cancelButtonText}}
      <Button @onClick={{action "handleCancel"}} @type="button">
        {{{cancelButtonText}}}
      </Button>
    {{/if}}
  </div>
</Dialog>