{{#if isOpen}}
  {{#if usePortal}}
    {{#dom-outer-render destinationElementId="destination"}}
      <div class="{{PORTAL}} {{portalClassName}}">
        <div
          class="{{OVERLAY}}

            {{OVERLAY_CONTAINER}}

            {{if isOpen OVERLAY_OPEN ""}}"
        >
          <div
            id={{backDropId}}
            class="{{OVERLAY_BACKDROP}} {{backdropClass}}"
            tabindex="0"
            aria-hidden="true"
            {{action "outerClickToClose"}}
          ></div>
          {{#if isInterval}}
            {{#transition-group id=drawerId class=DRAWER transitionClass=OVERLAY
            }}
              {{yield}}
            {{/transition-group}}
          {{/if}}
        </div>
      </div>
    {{/dom-outer-render}}
  {{else}}
    <div
      class="{{OVERLAY}}

        {{OVERLAY_CONTAINER}}

        {{OVERLAY_INLINE}}

        {{if isOpen OVERLAY_OPEN ""}}"
    >
      <div
        id={{backDropId}}
        class="{{OVERLAY_BACKDROP}} {{backdropClass}}"
        tabindex="0"
        aria-hidden="true"
        {{action "outerClickToClose"}}
      ></div>
      {{#if isInterval}}
        {{#transition-group id=drawerId class=DRAWER transitionClass=OVERLAY}}
          {{yield}}
        {{/transition-group}}
      {{/if}}
    </div>
  {{/if}}
{{/if}}