<span id={{index}} class={{TAG}} style={{setStyle}}>
    {{#if icon}}
      <Icon @icon={{icon}} @iconSize={{IconSize}} @style='fill:#228DFF'/>
    {{/if}}
    <span class="{{{TEXT_OVERFLOW_ELLIPSIS}}} {{{FILL}}}">
        <strong>{{Item}}</strong>
    </span>
    {{#if (not Disabled)}}
    <button type="button" class={{TAG_REMOVE}} {{action 'ondelete' index}}>
      <Icon @icon='small-cross' @iconSize={{IconSize}} @style='fill:#228DFF'/>
    </button>
    {{/if}}
</span>
{{yield}}
