{{#if leftIcon}}
  <Icon
    @class={{TAG_INPUT_ICON}}
    @icon={{leftIcon}}
    @iconSize={{if large 20 16}}
   />

{{/if}}
<div class={{TAG_INPUT_VALUES}}>
  {{#each values as |tag index|}}
    {{#if tag}}
      <Tag
        @active={{if (eq index activeIndex) true false}}
        @key="{{tag}}__{{index}}"
        @data-tag-index={{index}}
        @large={{large}}
        @removable={{if disabled false true}}
        @onRemove={{action "handleRemoveTag"}}
        @class={{tagProps.class}}
        @fill={{tagProps.fill}}
        @icon={{tagProps.icon}}
        @iconSize={{tagProps.iconSize}}
        @intent={{tagProps.intent}}
        @interactive={{tagProps.interactive}}
        @minimal={{tagProps.minimal}}
        @rightIcon={{tagProps.rightIcon}}
        @round={{tagProps.round}}
      >
        {{{tag}}}
      </Tag>
    {{/if}}
  {{/each}}
  <input
    onFocus={{action "handleInputFocus"}}
    onKeyDown={{action "handleInputKeyDown"}}
    onKeyUp={{action "handleInputKeyUp"}}
    onPaste={{action "handleInputPaste"}}
    oninput={{action "handleInputChange"}}
    value={{inputValue}}
    placeholder={{resolvedPlaceholder}}
    class="{{INPUT_GHOST}} {{inputProps.class}} {{inputProps.class}}"
    disabled={{disabled}}
    autofocus={{inputProps.autofocus}}
    readonly={{inputProps.readonly}}
    tabindex={{inputProps.tabindex}}
    maxlength={{inputProps.maxlength}}
    name={{inputProps.name}}
    min={{inputProps.min}}
    max={{inputProps.max}}
    type={{inputProps.type}}
   />

</div>
{{yield}}