{{#if leftIcon}}
  <Icon
    @icon={{leftIcon}}
    @iconSize={{IconSize}}
    @onclick={{action "lefticonClick"}}
   />

{{/if}}
<input
  style={{rightElementWidth}}
  value={{value}}
  autofocus={{autofocus}}
  placeholder={{placeholder}}
  size={{size}}
  tabindex={{tabindex}}
  maxlength={{maxlength}}
  name={{name}}
  min={{min}}
  max={{max}}
  pattern={{pattern}}
  autocomplete={{autocomplete}}
  type={{type}}
  class={{INPUT}}
  disabled={{disabled}}
 />

{{#if hasBlock}}
  <span class={{INPUT_ACTION}}>
    {{yield}}
  </span>
{{else if rightIcon}}
  <Button
    @type="button"
    @minimal={{true}}
    @disabled={{disabled}}
    @intent={{intent}}
    @onClick={{action "righticonClick"}}
    @icon={{rightIcon}}
    @iconSize={{IconSize}}
   />

{{/if}}