{{#if (eq type 'link')}}
    <a {{action 'togglePopover'}}>{{placeholder}}</a>
    {{else if (eq type 'button')}}
    <Button @text={{selected}} @minimal={{minimal}} @active={{active}} @onClick={{action 'togglePopover'}} @icon={{icon}} @rightIcon={{rightIcon}} @style='width:100%'/>
    {{else}}
    <Input @onClick={{action 'togglePopover'}} @autofocus={{isDefaultOpen}} @placeholder={{placeholder}} @data={{selected}} @icon={{icon}} @rightIcon={{rightIcon}} @onkeyDown={{action "handleKeydown"}} @onkeyUp={{action 'onSearchElement'  }}/>
{{/if}}

{{#if open}} <EmberPopper @class={{popperClass}} @popperTarget={{_popperTarget}} @placement={{placement}}>
   <div class="popper-margin-height {{{TRANSITION_CONTAINER}}}">
    <div class="{{{POPOVER}}} {{if minimal "MINIMAL"}} bp3-select-popover" style="transform-origin: 141px bottom 0px;">
         {{#if popOverArrow}}
         <div class='popper-arrow bp3-popover-arrow' x-arrow>
            <svg viewBox="0 0 30 30">
               <path class="bp3-popover-arrow-border"
                  d="M8.11 6.302c1.015-.936 1.887-2.922 1.887-4.297v26c0-1.378-.868-3.357-1.888-4.297L.925 17.09c-1.237-1.14-1.233-3.034 0-4.17L8.11 6.302z">
               </path>
               <path class="bp3-popover-arrow-fill"
                  d="M8.787 7.036c1.22-1.125 2.21-3.376 2.21-5.03V0v30-2.005c0-1.654-.983-3.9-2.21-5.03l-7.183-6.616c-.81-.746-.802-1.96 0-2.7l7.183-6.614z">
               </path>
            </svg>
         </div>
         {{/if}}
        <div class={{POPOVER_CONTENT}}>
            <div>
                <ul class={{MENU}}>
                    {{#each filteredList as |item index|}}
                    <li class="">
                        <a id="select{{{index}}}" class="{{{MENU_ITEM}}} {{{POPOVER_DISMISS}}} {{{if (eq defaultSelected index) intentactive }}}" onclick={{action 'onMouseSelect' item index}}>
                            <div class="{{{TEXT_OVERFLOW_ELLIPSIS}}} {{{FILL}}}">{{item}}</div>
                        </a>
                    </li>
                    {{/each}}
                    {{#if (eq filteredList.length 0)}}
                        <li>no result!</li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>
</EmberPopper>
{{/if}} {{yield}}