{{#if label}}
  <label class={{LABEL}}>
    {{label}}
  </label>
{{/if}}
{{#if options}}
  {{#each options as |option|}}
    {{radio-group/radio
      key=option.value
      labelElement=(if option.label option.label option.value)
      checked=(if (eq option.value selectedValue) true option.checked)
      defaultChecked=option.defaultChecked
      class=option.class
      style=option.style
      disabled=(if option.disabled option.disabled disabled)
      inline=(if inline inline option.inline)
      name=(if name name autoGroupName)
      onChange=onChange
      alignIndicator=option.alignIndicator
      value=option.value
    }}
  {{/each}}
{{else}}
  {{yield
    (hash
      Radio=(component
        "radio-group.radio"
        name=(if this.name this.name autoGroupName)
        disabled=this.disabled
        inline=this.inline
        selectedValue=this.selectedValue
        onChange=onChange
      )
    )
  }}
{{/if}}