{{#if icon}}
  <Icon @iconSize={{iconSize}} @style={{marginRight}} @icon={{icon}} />
{{/if}}
<span key="text" class={{BUTTON_TEXT}}>
  {{text}}
  {{yield}}
</span>
{{#if rightIcon}}
  <Icon @icon={{rightIcon}} @style={{marginLeft}} @iconSize={{iconSize}} />
{{/if}}