{{#if icon}}
  <Icon @iconSize={{IconSize}} @style={{marginRight}} @icon={{icon}} />
{{/if}}
<span class={{BUTTON_TEXT}}>
  {{yield}}
</span>
{{#if rightIcon}}
  <Icon @icon={{rightIcon}} @style={{marginLeft}} @iconSize={{IconSize}} />
{{/if}}