    {{#if icon}}
         <Icon @iconSize={{IconSize}} @icon={{icon }}/>
    {{/if}}
    {{#if hasBlock}}
        <span>{{yield}}</span>
    {{/if}}
    {{#if rightIcon}}
        <Icon @icon={{rightIcon}}  @iconSize={{IconSize}}/>
    {{/if}}
